+font("montserrat-light", montserrat-light)
+font("montserrat-regular", montserrat-regular)
+font("montserrat-bold", montserrat-bold)

+font("playfairdisplay-italic", playfairdisplay-italic)
+font("playfairdisplay-bold", playfairdisplay-bold)
+font("playfairdisplay-regular", playfairdisplay-regular)

// +font("montserrat-black", montserrat-black)
// +font("montserrat-extrabold", montserrat-extrabold)
// +font("montserrat-hairline", montserrat-hairline)
// +font("montserrat-semibold", montserrat-semibold)
// +font("montserrat-ultralight", montserrat-ultralight)

=f($name, $font-size: null, $letter-spacing: null)
  $font-family: null
  @if $name == "l"
    $font-family: "montserrat-light"
  @if $name == "r"
    $font-family: "montserrat-regular"
  @if $name == "b"
    $font-family: "montserrat-bold"
  @if $name == "pr"
    $font-family: "playfairdisplay-regular"
  @if $name == "pb"
    $font-family: "playfairdisplay-bold"
  @if $name == "pi"
    $font-family: "playfairdisplay-italic"
  font-family: $font-family
  font-weight: normal
  @if $font-size != null
    font-size: $font-size + px
  @if $letter-spacing != null
    letter-spacing: ($letter-spacing / 1000) + em
