<!-- BEGIN links -->
<ul class="links{% if darkLinks %} links_dark{% endif %}">
  <li class="links__item">
    <a class="links__link" href="mailto:hi@altolabs.co" title="Send me an email">
      {{mixins.svgicon('mail')}}
    </a>
  </li>
  <li class="links__item">
    <a class="links__link" href="https://dribbble.com/altolabs" title="Dribbble" target="_blank">
      {{mixins.svgicon('dribbble')}}
    </a>
  </li>
  <li class="links__item">
    <a class="links__link" href="https://www.behance.net/leapischeef11" title="Behance" target="_blank">
      {{mixins.svgicon('behance')}}
    </a>
  </li>
</ul>
<!-- END links -->
