<!-- BEGIN project -->
<div class="project-container">
  {# {% include "_header.html" with { darkLinks: true } %} #}

  <div data-animations="milkyway" class="project project-milkyway">
    <div class="project__bg bg-milkyway">
      <div class="bg-milkyway__layer-1"></div>
      <div class="bg-milkyway__layer-2"></div>
    </div>
    <div class="project__heading">
      <h2 class="h2">Milkyway</h2>
      <h4 class="h4">Ecommerce</h4>
    </div>
    <div class="project__inner">

      <div class="project__figure">
        <div class="milkyway">
          <div class="milkyway__layer-0"></div>
          <div class="milkyway__layer-1"></div>
          <div class="milkyway__layer-2"></div>
          <div class="milkyway__layer-3"></div>
        </div>
      </div>

      <div class="project__about">
        <h3 class="h3">The Project</h3>
        <div class="project__about-line project__about-line_lighter"></div>
        <div class="project__description">
          <p>Maison de Bruges is a novel brand that produces artisan jam for a clientele of specialty shops and hotels. The challenge consisted in capturing a new artisan product in a delectable house style that jumps off the shelf. We were also asked to design a packaging that combines an innovative concept with a timeless.</p>
        </div>
        {{mixins.btnLink('View on Behance', 'btn_font-sm', 'https://www.behance.net/gallery/31218993/Milkyway-Branding-and-E-Commerce')}}
      </div>
    </div>
  </div>
</div>
<!-- END project -->
