<!-- BEGIN pagination -->
<div class="pagination">
  <nav class="pagination__inner">
    <a class="pagination__link" href="#intro">{{mixins.pagiCircle()}}</a>
    <a class="pagination__link" href="#intro">{{mixins.pagiCircle()}}</a>
    <a class="pagination__link" href="#qmedic">{{mixins.pagiCircle()}}</a>
    <a class="pagination__link" href="#milkyway">{{mixins.pagiCircle()}}</a>
    <a class="pagination__link" href="#rexpro">{{mixins.pagiCircle()}}</a>
  </nav>
</div>
<!-- END pagination -->
