<!-- BEGIN project -->
<div class="project-container">
  {# {% include "./_header.html" with { darkLinks: true } %} #}

  <div data-animations="qmedic" class="project">
    <div class="project__bg bg-qmedic"></div>
    <div class="project__heading">
      <h2 class="h2">Qmedic</h2>
      <h4 class="h4">UX/UI</h4>
    </div>

    <div class="project__inner">
      <div class="project__figure">
        <img class="project__image qmedic-interface" src="img/qmedic.jpg"  alt="Qmedic Interface">
      </div>

      <div class="project__about">
        <h3 class="h3">The Project</h3>
        <div class="project__about-line"></div>
        <div class="project__description">
          <p>Maison de Bruges is a novel brand that produces artisan jam for a clientele of specialty shops and hotels. The challenge consisted in capturing a new artisan product in a delectable house style that jumps off the shelf. We were also asked to design a packaging that combines an innovative concept with a timeless.</p>
        </div>
        {{mixins.btnLink('View on Behance', 'btn_font-sm', 'https://www.behance.net/gallery/29717091/Medical-Dashboard')}}
      </div>
    </div>
  </div>
</div>
<!-- END project -->
