<!-- BEGIN project -->
<div class="project-container">
  {# {% include "./_header.html" with { darkLinks: true } %} #}

  <div data-animations="rexpro" class="project">
    <div class="project__bg bg-rex-pro">
      <div class="bg-rex-pro__layer-1"></div>
      <div class="bg-rex-pro__layer-2"></div>
      <div class="bg-rex-pro__layer-3"></div>
    </div>
    <div class="project__heading">
      <h2 class="h2">Rex Pro</h2>
      <h4 class="h4">UX/UI</h4>
    </div>
    <div class="project__inner">

      <div class="project__figure">
        <img class="project__image rex-pro-interface" src="img/ipad-full.png" alt="Rex Pro Interface">
      </div>

      <div class="project__about">
        <h3 class="h3">The Project</h3>
        <div class="project__about-line project__about-line_dark"></div>
        <div class="project__description">
          <p>Maison de Bruges is a novel brand that produces artisan jam for a clientele of specialty shops and hotels. The challenge consisted in capturing a new artisan product in a delectable house style that jumps off the shelf. We were also asked to design a packaging that combines an innovative concept with a timeless.</p>
        </div>
        {{mixins.btnLink('Coming soon', 'btn_font-sm is-inactive', 'https://www.behance.net')}}
      </div>
    </div>
  </div>
</div>
<!-- END project -->
