.icon-back_a {
  width: 0.95em;
  height: 1em;
  fill: #E46363;
  stroke: initial;
}
.icon-behance {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
  stroke: initial;
}
.icon-char_c {
  width: 0.92em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_g {
  width: 0.95em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_i {
  width: 0.25em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_m {
  width: 1.1em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_m2 {
  width: 0.55em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_n {
  width: 0.92em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_n2 {
  width: 0.7em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_o {
  width: 1.06em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_o2 {
  width: 0.97em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-char_s {
  width: 0.84em;
  height: 1em;
  fill: #FFF;
  stroke: initial;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: #E46363;
  stroke: initial;
}
.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
  stroke: initial;
}
.icon-front_a {
  width: 0.95em;
  height: 1em;
  fill: #E46363;
  stroke: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
  stroke: initial;
}
.icon-mouse {
  width: 0.69em;
  height: 1em;
  fill: #4A4A4A;
  stroke: initial;
}
.icon-triangle {
  width: 0.9em;
  height: 1em;
  fill: #E46363;
  stroke: initial;
}
